# Functional 
    1. GUI to submit user commands:
        - User can submit a command to the system
        - System will interpret the command and execute the appropriate action
    2. An interpreter of specific construction/design requests
    3. Interoperability with other software, such as AutoCAD Civil 3D    
    4. GUI showing final product after each iteration
    5. The ability for user to specify multiple design iterations per design
    6. Cross referencing with relevant building code documents
    7. Flag areas of building non-compliance
    8. Provide a list of suggested changes to bring building into compliance
